<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>




    <h2>Survey</h2>
    <p>Answer the questions below, 1-10(10 being that you agree, 1 being you disagree)</p>

    <ul></ul>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        survey();

        function survey() {
            $('ul').empty();
            $.ajax({
                url: '/questions',
                method: 'GET'
            }).then(function (res) {

                for (var i = 0; i < res.length; i++) {
                    var br = $('<br>')
                    var li = $('<li>');
                    li.text("#:" + res[i]['id'] + "  " + res[i]['ques']);

                    var f = $('<form>')
                    f.attr('class', 'deleteForm')
                    f.attr('action', '/delete?_method=DELETE');
                    f.attr('method', 'POST');

                    var inp = $('<input>');
                    inp.attr('type', 'hidden');
                    inp.attr('name', 'id');
                    inp.attr('value', res[i].id)

                    // <input type="number" name="quantity" min="1" max="5">
                    var b = $('<input>');
                    b.attr('type', 'number');
                    b.attr('name', 'quantity');
                    b.attr('min', '1');
                    b.attr('max', '10');
                    b.attr('step', '1')

                    f.append(inp, b);

                    li.append(f)
                    $('ul').append(li);
                }
                var br = $('<br>')
                var p = $('<p>')
                p.text('Name')
                var s = $('<button>');
                s.attr('type', 'submit');
                s.text('Submit')


                var na = $('<input>');
                na.attr('type', 'text');
                na.attr('name', 'name')
                na.attr('placeholder', 'First Name')


                $('ul').prepend(p, br, na, br);
                $('ul').append(br, s);
                // $('div').text(JSON.stringify(res));
            })
        }





    </script>
</body>

</html>